.App {
    max-width: 30em;
    margin-inline: auto;
}

.hiddenVisually {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.appLayout {
    display: grid;
    height: 100vh;
    max-height: 100vh;
    grid-template-rows: 1fr 70% 1fr;
    background-color: #efefef;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 1em;
}

.settingsButton {
    border-radius: 0.5em !important;
    margin: 0 !important;
}

.header {
    display: flex;
    align-items: center;
    padding-block: 1em;
}

.headerLogo {
    width: 48px;
}

.header h1 {
    margin-top: 0;
}

.listContainer {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    margin-inline: 1em;
    padding: 1em 1em 1.5em 1.5em;
    background-color: #fff;
    border-radius: 2em;
}

.groupName {
    text-align: center;
    font-style: italic;
    margin-bottom: 0;
}

.listContainer .participant,
.listContainer .settlement {
    border-radius: 1em !important;
}

.participantList, .settingsList {
    overflow-y: auto;
    padding-block: 0.5em;
    padding-inline-end: 0.5em;
}

.participant {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "name removeButton"
        "amount ."
    ;
    gap: 0.5em;
    align-items: center;
    font-size: 1.2em !important;
}

.participant label {
    text-align: right;
    padding-inline-end: 0.5em;
}

.participant input {
    padding: 0.5em;
    border: 1px solid lightgray;
    border-radius: 0.5em;
}

.participant input[id^="name-"] {
    grid-area: name;
    font-weight: bold;
    height: 100%;
    min-width: 0;
}

.participant .amountInputContainer {
    grid-area: amount;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    justify-self: end;
}

.removeButton {
    grid-area: removeButton;
    margin: 0 !important;
    border-radius: 0.5em !important;
    height: 100%;
}

.participant .ui.labeled.input {
    margin-inline-start: 0.5em;
}

.participant .ui.labeled.input label {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.participant input[id^="amount-"] {
    max-width: 7em;
    text-align: right;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.participantListButtons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-block-start: 0.5em;
    padding-inline-end: 0.5em;
}

.participantListButtons button {
    margin: 0 !important;
}

.ui.scrolling.dropdown.groupButton .menu {
    width: 200px !important;
    max-height: 250px !important;
    left: -100% !important;
}

.groupButton .item .description {
    white-space: initial;
}

.splitButton img {
    width: 32px;
    vertical-align: middle;
}

.splitButton span {
    vertical-align: middle;
}

.settlementDetails {
    font-size: 1.2em;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr;
    padding-inline-end: 0.5em;
}

.settlementDetails dt {
    font-weight: bold;
}

.settlementDetails dd {
    text-align: right;
}

.settlementList {
    overflow-y: auto;
    padding-inline-end: 0.5em;
    padding-block-end: 0.5em;
}

.settlement {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    font-size: 1.2em !important;
}

.settlement em {
    margin-inline-start: -0.3em;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1em;
}

.buttonContainer .ui.button {
    width: 93.5%;
    margin-right: 0 !important;
}

.ui.very.rounded.button {
    border-radius: 2em;
    padding-inline: 1em !important;
}

.ui.very.rounded.buttons .ui.button:first-child {
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 0.5em;
    border-right: 2px solid white;
}

.ui.very.rounded.buttons .ui.button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    padding-left: 0.5em;
}

.settings.listContainer {
    padding: 3em;
}

.setting {
    padding-block-end: 1em;
}

.setting:not(:first-child) {
    padding-block-start: 1em;
    border-top: 1px solid lightgray;
}

.toggle.setting {
    display: flex;
    justify-content: space-between;
}

.setting > label {
    font-size: 1.2em;
}

.setting .ui.toggle.checkbox input:checked ~ label::before {
    background-color: #00b5ad !important;
}

.setting .ui.toggle.checkbox input:checked:focus ~ label::before {
    background-color: #009c95 !important;
}

.setting .ui.toggle.checkbox label {
    padding-left: 3.5rem;
}

.setting .groupList .group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#groupNameModal input {
    width: 100%;
    padding: 0.5em;
    border: 1px solid lightgray;
    border-radius: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
}

#groupNameModal button {
    border-radius: 0.5em !important;
}

.duplicateGroupName {
    text-align: center;
    margin-top: 0.25em;
}
