.hiddenVisually {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.ui.button {
    border-radius: 0.5em;
    margin: 0;
}

input {
    padding: 0.5em;
    border: 1px solid lightgray;
    border-radius: 0.5em;
}

.appLayout {
    height: 100vh;
    max-width: 30em;
    margin-inline: auto;
    padding-inline: 1em;
    display: grid;
    grid-template-rows: 6em calc(100vh - 15em) 3em 6em;
    background-color: #efefef;
}

.appLayout.settlements, .appLayout.settings {
    grid-template-rows: 6em calc(100vh - 12em) 6em;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1em;
}

.header {
    display: flex;
    align-items: center;
}

.header h1 {
    margin-top: 0;
}

.listContainer {
    display: grid;
    grid-template-rows: min-content 1fr;
    padding: 1.5em 1em 1.5em 1.5em;
    background-color: #fff;
    border-radius: 2.5rem;
}

.listContainer.participants {
    padding: 1.5em 1em 0.75em 1.5em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.listContainer.settings {
    padding: 3em;
}

.groupName {
    text-align: center;
    font-style: italic;
    margin-bottom: 0;
}

.listContainer .participant,
.listContainer .settlement {
    border-radius: 1em !important;
}

.participantList, .settlementList, .settingsList {
    overflow-y: auto;
    padding-block-end: 0.5em;
    padding-inline-end: 0.5em;
}

.participant {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-areas:
        "name removeButton"
        "amount ."
        "participantError participantError"
    ;
    gap: 0.5em;
    align-items: center;
    font-size: 1.2em !important;
}

.participant input[id^="name-"] {
    grid-area: name;
    font-weight: bold;
    height: 100%;
    min-width: 0;
}

.participant .amountInputContainer {
    grid-area: amount;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    justify-self: end;
}

.removeButton {
    grid-area: removeButton;
    height: 100%;
}

.participant .ui.labeled.input {
    margin-inline-start: 0.5em;
}

.participant .ui.labeled.input label {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.participant input[id^="amount-"] {
    max-width: 7em;
    text-align: right;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.participantError {
    grid-area: participantError;
    text-align: center;
    font-size: 1rem;
}

.participantListButtons {
    margin-inline: 0 !important;
}

.participantListButtons .ui.button:first-child {
    border-bottom-left-radius: 2.5rem !important;
    border-right: 1px solid gray;
}

.participantListButtons .ui.button:last-child {
    border-bottom-right-radius: 2.5rem !important;
}

.groupButton {
    text-align: center !important;
}

.ui.scrolling.dropdown.groupButton .menu {
    width: 200px !important;
    max-height: 250px !important;
}

.groupButton .item .description {
    white-space: initial;
}

.settlementDetails {
    font-size: 1.2em;
    display: grid;
    grid-template-columns: 70% 30%;
    padding-inline-end: 0.5em;
}

.settlementDetails dt {
    font-weight: bold;
}

.settlementDetails dd {
    text-align: right;
}

.settlement {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    font-size: 1.2em !important;
}

.settlement em {
    margin-inline-start: -0.3em;
}

.primaryButtonContainer {
    padding-block-start: 1em;
}

.primaryButtonContainer .ui.button {
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 100%;
}

.primaryButtonContainer .ui.button * {
    vertical-align: middle;
}

.primaryButtonContainer .ui.button img {
    width: 32px;
}

.setting {
    padding-block-end: 1em;
}

.setting:not(:first-child) {
    padding-block-start: 1em;
    border-top: 1px solid lightgray;
}

.toggle.setting {
    display: flex;
    justify-content: space-between;
}

.setting > label {
    font-size: 1.2em;
}

.setting .ui.toggle.checkbox input:checked ~ label::before {
    background-color: #00b5ad !important;
}

.setting .ui.toggle.checkbox input:checked:focus ~ label::before {
    background-color: #009c95 !important;
}

.groupList {
    max-height: 13em;
    overflow-y: auto;
}

.setting .groupList .group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#groupNameModal input {
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
}

.duplicateGroupName {
    text-align: center;
    margin-top: 0.25em;
}
